extends layout

block content
  .center 
    a(class="newtodo",href="/newtodo")
      button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") newTodo
    table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp")
      thead
        tr
          th Update 
          th Details
          th Date
          th Remove
      tbody
        each todo in todos
          tr(class=todo.isDone? 'isDone' : '')
            td
              label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                input.mdl-checkbox__input(type="checkbox", name="#{todo._id}", checked=todo.isDone)
            td(class="mdl-data-table__cell--non-numeric")
              | #{todo.details}
            td
              | #{todo.initalData}
            td
              a(href="/removetodo/#{todo._id}")
                button(class="mdl-button mdl-js-button mdl-button--accent") remove
